@{
    ViewData["Title"] = "LABOLINAW MEMBERS";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Jerico J Sarmiento</li>
    <li>John Gabriel Gerolia</li>
    <li>Jasper Tabin</li>
    <li>Mart Dexter De Luna</li>
    <li>Rodolfo Miguel Crecensio</li>
</ul>


